<!DOCTYPE html>
<html>
  <head>
    <title>Speed Typer</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />


    <script>
        function killCopy(e){ return false };
        function reEnable(){ return true };
        document.onselectstart= new Function ("return false");
        if (window.sidebar){
            document.onmousedown= killCopy
            document.onclick= reEnable
        };
    </script>

  </head>
  <body>

    <div id='login'></div>
    <div id='container'></div>
    <div id='users'></div>

	<script src="/socket.io/socket.io.js"></script>
	<script>

		io = io.connect();
	    $(document).ready(function(){
	    	//login box
	    	$('#login').html("<div> <p>What is your name?</p> <form id='form'> <input type='text' name='name'> <input type='submit'> </div>");

	    	//login on submit emits to server and hides box
	    	$('#form').on('submit', function(){
	    		io.emit('got_a_new_user', $(this).serializeArray());
	    		console.log('emitted got_a_new_user');
	    		$('#login').hide();
	    		return false;
	    	});

            //Server logs user
	    	io.on('logged_in', function(stuff){
        		console.log('client received logged_in');
                //appends scoreboard
                $('#container').append("<h4> Hi " +stuff.name +" </h4> \
                    <div id='score'> Score: 0 </div> \
                    <div id='scoreboard' class='' > \
                    </div>");
                // appends main view area to screen when server logs this user
                $('#container').append("\
                    <div id='viewBox' class=''>\
                        <div id='answerDiv'></div> \
                        <div id='verdictDiv'></div> \
                        <div id='answerFormDiv'> \
                            <form id='answerForm' autocomplete='off'> \
                                <input class='form-control' type='text' name='answer' autofocus> \
                            </form> \
                        </div> \
                    </div> ");
                //enter button sends the answer to the server
                $('#answerForm').keydown(function(e){
                    if(e.keyCode == 13) {
                        io.emit('answerAttempt', $(this).serializeArray());
                        console.log('Answer sent to server');
                        return false;
                    }
                });
                // appends chat area to screen when server logs this user
        		$('#container').append("\
                    <div id='chatbox' class=''> \
                        <div id='chatArea' class=''> \
                        </div> \
                        <div id='type' class=''> \
                            <form id='typeHere'>\
                                <textarea id='chat' name='chat' > </textarea> \
                            </form> \
                        </div>\
                    </div>");
	    		//enter button sends message to server to be broadcast to everyone
	    		$('#typeHere').keyup(function(e){
	    			if(e.keyCode == 13) {
		    			io.emit('new_message', $(this).serializeArray());
		    			console.log('message sent to server');
		    			return false;
	    			}
	    		});

    		});
	    	//Server broadcasts a message to all users about who just logged in
    		io.on('new_user', function(stuff){
    			console.log('client received new_user');
    			time = displayTime();
    			$('#chatArea').append("SERVER: " + stuff.name + " has logged in " + "<span class='time'>" + time + "</span>" + ".<br>");
    			$("#chatArea").scrollTop($("#chatArea")[0].scrollHeight);
    		});
    		//client receives message broadcast
    		io.on('update', function(message){
    			time = displayTime();
    			$('#chatArea').append(message.name + ": " + message.message + "<span class='time'>" + time + "</span>" + "<br>");
    			$("#chatArea").scrollTop($("#chatArea")[0].scrollHeight);
    			$('#chat').val('');
    		});
            //Server broadcasting a disconnect
            io.on('disconnected', function(stuff){
                console.log('client received new_user');
                time = displayTime();
                $('#chatArea').append("SERVER: " + stuff.name + " has disconnected " + "<span class='time'>" + time + "</span>" + ".<br>");
                $("#chatArea").scrollTop($("#chatArea")[0].scrollHeight);
            });
            //Server broadcasting the Word and client appending it tot he page
            io.on('new_word', function(word){
                $('#answerDiv').html("<br>" + word.word)
            });
            //Server emiting whether clients answer is correct and updates score
            io.on('answerValidation', function(verdict){
                // $('#verdictDiv').html(verdict.verdict);
                if (verdict.verdict == "Incorrect")
                {
                    $('#answerFormDiv').effect("shake");
                    $('#answerForm').addClass("has-error");
                } else {
                    $('#answerForm').removeClass("has-error");
                    document.getElementById("answerForm").reset();
                };
            });
            //updates your personal score
            io.on('myScoreUpdate', function(score){
                $('#score').html("Your Score: " + score.score + " (+" + score.roundScore + ")");
            });
            //receives and prints the countdown
            io.on('countdown', function(count){
                $('#answerDiv').html("Next Word In <br>" + count.count + "<br> Seconds");
            });
            //updates the scoreboard
            io.on('scoreUpdate', function(score){
                    var scoreString = "";
                    for(var i=0; i< score.allScores.length; i++){
                        scoreString += "<p>" + score.allScores[i].name + " " + score.allScores[i].score + " (+" + score.allScores[i].roundScore + ")" + "</p>";
                    };
                    $("#scoreboard").html(scoreString);     
            });
        });

        function displayTime() {
            var str = "";
            var currentTime = new Date()
            var hours = currentTime.getHours()
            var minutes = currentTime.getMinutes()
            var seconds = currentTime.getSeconds()
            if (minutes < 10) { minutes = "0" + minutes }
            if (seconds < 10) { seconds = "0" + seconds }
            str += hours + ":" + minutes + ":" + seconds + " ";
            if(hours > 11){ str += "PM" } 
            	else { str += "AM" }
            return str;
        }
	   
    </script>
</body>
</html>